<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly news selection</title>
</head>
<body>
<h2>Hello!</h2>
<p>We have prepared for you a selection of new articles published over the past week:</p>
<hr>

<ul>
  {% for post in posts %}
  <li>
    <strong><a href="{{ link }}{{ post.get_absolute_url }}">{{ post.title }}</a></strong>
    <br>
    <small>"Date of publication:" {{ post.date_creation|date:"d M Y" }}</small>
  </li>
  {% endfor %}
</ul>

<hr>

<p>Best regards, the News Portal team</p>
</body>
</html>