{% extends 'flatpages/default.html' %}


{% load custom_filters %}


{% block title %}
Объявления
{% endblock title %}


{% block content %}
<h1>Все объявления</h1>
Количество объявлений: {{ news|length }}

{% if news %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
        </tr>

        {% for new in news %}
        <tr>
            <td>{{ new.title|censor }}</td>
            <td>{{ new.date_creation|date:'d M Y' }}</td>
            <td>{{ new.text|truncatewords:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Объявлений не найдено!</h2>
{% endif %}

{% endblock content %}