{% extends 'flatpages/default.html' %}


{% load custom_filters %}


{% block title %}
Объявления
{% endblock title %}


{% block content %}
<h1>◄ ВСЕ ОБЪЯВЛЕНИЯ ►</h1>
<h6><i>Вы видите {{ news|length }} из {{ paginator.count }} объявлений на нашем Новостном портале! </i></h6>

<hr>
{% if request.user.is_authenticated %}
    {% if is_author %}
        <h5>Вы автор</h5>
        {% else %}
        <p class="text-center"><a href="{% url 'upgrade_user' %}" class="btn btn-secondary btn-sm">Стать автором</a></p>
        {% endif %}
{% endif %}


{% if news %}
    <table>
           <tr>
               <th>Тип публикации</th>
               <th>Заголовок</th>
               <th>Дата публикации</th>
               <th>Текст</th>
           </tr>

           {% for new in news %}
           <tr>
               <td>{{ new.get_publication_display }}</td>
               <td>
                   <a class="nav-link" href="{% url 'new_detail' new.id %}">{{ new.title|censor }}</a>
               </td>
               <td>{{ new.date_creation|date:'d M Y' }}</td>
               <td>{{ new.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
{% else %}
    <h2>Объявления не найдены!</h2>
   {% endif %}


   <hr>
  
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}