{% extends 'flatpages/default.html' %}
{% load i18n %}

{% block title %}
    {% trans "My publications" %}
{% endblock title %}

{% block content %}
<h1 style="text-align: center; margin-bottom: 20px;">◄ {% trans "MY PUBLICATIONS" %} ►</h1>
<h6 style="text-align: center; color: #555;"><i>{% trans "You see" %} {{user_news|length}} {% trans "of" %} {{paginator.count}} {% trans "your publications" %}</i></h6>

<hr style="margin: 20px 0;">

<form action="" method="get">
   {{ filterset.form.as_p }}
   <input type="submit" value="{% trans 'Search' %}" />
</form>
<hr>


{% if user_news %}
<table border="1" cellpadding="10" cellspacing="0" width="100%" style="border-collapse: collapse; text-align: center;">
    <thead style="background-color: #f0f0f0; font-weight: bold;">
        <tr>
            <td>{% trans "Date of publication" %}</td>
            <td>{% trans "Category" %}</td>
            <td>{% trans "Title" %}</td>
            <td>{% trans "Content" %}</td>
            {% if perms.news.edit_post or perms.news.delete_post %}
            <td>{% trans "Actions" %}</td>
            {% endif %}
        </tr>
    </thead>

        {% for new in user_news %}
        <tr>
            <td>{{ new.date_creation|date:'d M Y' }}</td>
            <td>
                {% for category in new.post_category.all %}
                    {{ category.name_category }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'new_detail' new.id %}">{{ new.title }}</a>
            </td>
            <td>{{ new.text|truncatechars:30 }}</td>
            <td>
                {% if perms.news.edit_post %}
                <form action="{% url 'new_edit' pk=new.id %}" method="get">
                    <input type="submit" value="{% trans 'Edit' %}" />
                </form>
                {% endif %}
                {% if perms.news.delete_post %}
                <form action="{% url 'new_delete' new.id %}" method="get">
                    <input type="submit" value="{% trans 'Delete' %}" />
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
</table>
{% else %}
<div style="text-align: center; padding: 20px; border: 1px solid #ccc; background-color: #f9f9f9;">
    <h2>{% trans "No publications find" %} 😔</h2>
</div>
{% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<hr>
<a href="{% url 'news_list' %}" class="btn btn-secondary">← {% trans "See all publications" %}</a>

{% endblock content %}