{% extends 'flatpages/default.html' %}

{% load socialaccount %} 

{% block content %}

<h2>Вход в систему</h2>

<form method="post" action="{% url 'account_login' %}">
{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Войти">
    <input type="hidden" name="next" value="{{ next }}">
</form>

<!-- Кнопка для входа через социальные сети, например, Яндекс -->
<h3>Или войдите через:</h3>
<ul>
    <li><a href="{% provider_login_url 'yandex' %}">Войти через Яндекс</a></li>
</ul>

{% endblock %}